<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.firebase.quickstart.auth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".java.compte"
            android:label="@string/title_activity_compte"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
            android:name=".java.ajouter_compte_admin"
            android:label="@string/title_activity_ajouter_compte_admin"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".java.voir_statistiques_admin"
            android:label="@string/title_activity_voir_statistiques_admin"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".java.supprimer_compte_admin"
            android:label="@string/title_activity_supprimer_compte_admin"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".java.supprimer_char_admin"
            android:label="@string/title_activity_supprimer_char_admin"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".java.ajouter_char_admin"
            android:label="@string/title_activity_ajouter_char_admin"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".java.statistique"
            android:label="@string/title_activity_statistique"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".java.admin"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".java.jeu_multi"
            android:label="@string/title_activity_jeu_multi"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".java.jeu_solo"
            android:label="@string/title_activity_jeu_solo"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".java.menu_jeu"
            android:label="@string/title_activity_menu_jeu"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".java.accueil"
            android:label="@string/title_activity_accueil"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".java.EmailPasswordActivity"
            android:label="@string/label_emailpassword"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Facebook Configuration -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
    </application>

</manifest>